.user-info-container {
    padding: 20px;  
}

.user-info-container .header {
    margin-bottom: 50px;
}

.user-info-container h2 {
    font-size: 2.3rem;
    background-color: #45a049;
    color: white;
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box; 
}

.user-info-container label {
    font-size: 1.5rem;
    margin-top: 30px;
    width: 100%; 
}

.user-info-container input {
    font-size: 1.5rem;
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
}

.user-info-container button {
    margin-top: 30px;
    width: 30%;
    align-self: flex-start; 
}

.user-info-container .logout {
    background-color: #45a049;
    color: white;
    width: 270px;
    height: 40px;
    font-size: 1.3rem;
    cursor: pointer;
}

.user-info-container .logout:hover {
    background-color: #006400;
}

.user-info-container .delete-account {
    background-color: red;
    color: white;
    width: 270px;
    height: 40px;
    font-size: 1.3rem;
    cursor: pointer;
}

.user-info-container .delete-account:hover {
    background-color: #8B0000;
}