/* Home.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
}

.system-name {
    margin: 0;
}

.user-icon {
    cursor: pointer;
}

.body-posts {
    margin-top: 20px;
}

.addPost-btn {
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.addPost-btn:hover {
    background-color: green;
}

.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #D3D3D3;
}

.post h2 {
    margin-top: 0;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.delete-button {
    background-color: red;
    color: white;
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.like-button,
.comment-button,
.rating-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.like-button:hover,
.comment-button:hover,
.rating-button:hover {
    background-color: #45a049;
}

.like-button.liked {
    color: #000000;
    font-weight: bold;
}

.comments-section {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 300px; /* Limita a altura da área de comentários */
    overflow-y: auto;  /* Habilita a rolagem */
}

.comment {
    margin: 5px 0;
}

.error-message {
    color: red;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-actions {
        flex-direction: column;
    }

    .like-button,
    .comment-button,
    .rating-button {
        margin-top: 5px;
    }
}
